/* Counters */
.molla-count-wrapper {
	font-weight: 400;
	font-size: 3rem;
	line-height: 1.2;

	.count {
		display: inline-block;
		margin-bottom: .6rem;
	}
}

.count-title {
	font-weight: 400;
	font-size: 1.6rem;
	letter-spacing: -.01em;
	margin-bottom: 0;
}