/* Tooltip */

.tooltip-wrapper {
  position: relative;

  &:hover {
    .tooltip {
      opacity: 1;
      visibility: visible;
      margin: 0;
    }
  }
}

.tooltip {
  position: absolute;
  padding: 13px 20px;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: .3s;
  left: 50%;
  margin: side-values(0 0 -20px 0);
  transform: translateX(-50%);
  bottom: calc(100% + 20px);
  color: #333;

  &:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-top: 9px solid #fff;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
  }

  &:after {
    content: '';
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    height: 20px;
  }
}

.tooltip.left-tooltip {
  top: 50%;
  right: calc(100% + 20px);
  bottom: auto;
  left: auto;
  transform: translateY(-50%);
  margin: side-values(0 -20px 0 0);

  &:before {
    top: 50%;
    right: auto;
    left: 100%;
    transform: translateY(-50%);
    border-left: 9px solid #fff;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
  }

  &:after {
    top: auto;
    left: 100%;
    width: 20px;
    height: 100%;
  }
}

.tooltip.right-tooltip {
  top: 50%;
  left: calc(100% + 20px);
  bottom: auto;
  transform: translateY(-50%);
  margin: side-values(0 0 0 -20px);

  &:before {
    top: 50%;
    right: 100%;
    left: auto;
    transform: translateY(-50%);
    border-right: 9px solid #fff;
    border-top: 9px solid transparent;
    border-bottom: 9px solid transparent;
  }

  &:after {
    top: 0;
    left: auto;
    right: 100%;
    width: 20px;
    height: 100%;
  }
}

.tooltip.bottom-tooltip {
  top: calc(100% + 20px);
  bottom: auto;
  margin: side-values(-20px 0 0 0);

  &:before {
    top: auto;
    bottom: 100%;
    transform: translateX(-50%);
    border-top: none;
    border-bottom: 9px solid #fff;
  }

  &:after {
    top: auto;
    bottom: 100%;
    width: 100%;
    height: 20px;
  }
}