
.molla-tooltip {
	color: #fff;
	padding: 1px 5px;
	border-radius: 3px;
	font-size: 12px;
	font-weight: 300;
	transition: background-color .3s;

	&:before {
		content: '\f276';
		margin-right: 5px;
		font-family: "molla";
	}

	&:hover,
	&:focus {
		cursor: pointer;
	}
}
