/* Layout */
.grid {
	display: flex;
	flex-wrap: wrap;

	&.float-grid {
		display: block;

		.grid-space {
			clear: both;
		}
	}
}

.grid-item {
	padding: 1rem;
	float: $left;
	transform: translate3d(0, 0, 0);
}

.creative-grid {
	display: grid;

    &.editor-mode > * {
        position: relative;
        overflow: hidden;
        border: 1px dashed rgba(34, 34, 34, .4);

        &:after {
            content: attr(data-grid-idx);
			position: absolute;
			top: 0;
			#{$right}: 0;
            width: 3.6rem;
			height: 3.6rem;
			line-height: 3.6rem;
			color: #fff;
            background-color: #71d7f7;
			z-index: 98;
			font-size: 1.3em;
			text-align: center;
        }
    }
}

.inner-wrap {
	display: flex;
	position: relative;
}

.container,
.alignwide {
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.container-fluid {
	max-width: 1920px;
	margin-left: auto;
	margin-right: auto;
}

.page-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	#{$left}: 0;
	transition: left 0.4s, right 0.4s ease;
}

.divider-active {
	.content-divider .inner-wrap,
	.full-divider {
		border: 1px solid #f4f4f4;
		border-width: 0 0 1px 0;
	}
}

.footer.divider-active {
	.content-divider .inner-wrap,
	.full-divider {
		border-width: 1px 0 0 0;
	}
}

@include mq('lg', 'max') {
	.sidebar-active:not(.right-sidebar-active) .page-wrapper,
	.mmenu-active .page-wrapper {
		#{$left}: 200px;
	}
}

.main {
	flex: 1;
	width: 100%;
}

.page-content {
	padding-bottom: 4rem;
	margin-top: 4rem;
}

@include mq('xl') {
	.container-fluid {
		padding-left: 30px;
		padding-right: 30px;
	}
}
/* Extend grid - 1600px */
@include mq('xxl') {
	.container-fluid {
		padding-left: 70px;
		padding-right: 70px;
	}
}

@media (max-width: 479px) {
	.container,
	.elementor-section.elementor-section-boxed .elementor-container.container,
	.container-fluid {
		padding-left: 10px;
		padding-right: 10px;
	}
}